---
import NavBar from '../components/NavBar.astro'; 
import Footer from '../components/Footer.astro'; 
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The DC Universe!</title>
    <link rel="stylesheet" href="/styles/global.css"> <!-- Link to the global CSS -->
</head>
<body>   

    <NavBar /> <!-- Use the NavBar component -->

    <div class="DC-LOGO">
        <section>
            <img src="/images/5.1.jpg" alt="DC Characters" width="1240" height="650" />
        </section>
    </div>

    <main>
        <p>This is my website about DC movies. Explore the different pages.</p>
    </main>
    
    <Footer /> <!-- Use Footer component -->
</body>
</html>
