---
// cards.astro
---
<main>
    <div class="card-deck">
        <div class="card">
            <div class="card-content">
                <img class="card-img" src="images/5.7.png" alt="A superhero known for his incredible speed" width="300" height="350">
                <div class="card-overlay">
                    <h3 class="card-title">The Flash</h3>
                    <p class="card-text">Known for his incredible speed.</p>
                </div>
            </div>
            <div class="card-details">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">He can run up buildings</li>
                    <li class="list-group-item">Create sonic booms</li>
                    <li class="list-group-item">Passes through objects</li>
                </ul>
                <a href="https://www.dccomics.com/characters/the-flash" class="btn btn-primary">Learn More about The Flash</a>
            </div>
        </div>
        <!-- Add the rest of the cards here as you did in your HTML content -->
    </div>
</main>